.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: var(--grayish-yellow);
  color: var(--very-dark-desaturated-green);
  font-weight: 600;
}

.welcome-text {
  font-size: var(--font-xxxl);
}

@media screen and (max-width: 768px) {
  /* Styles for tablets and smaller */
  .welcome-text {
    font-size: var(--font-xxl);
  }
}

@media screen and (max-width: 480px) {
  /* Styles for mobile */
  .welcome-text {
    font-size: var(--font-l);
  }
}
