.visitor-review-section {
  text-align: center;
  padding: 20px;
  background: #e9edc9;
}

.section-title {
  background: #e9edc9;
  color: #94af9f;
  font-size: 22px;
  font-weight: 600;
}

.review-card {
  background: #e9edc9;
  color: #617143;
  font-size: 22px;
  font-weight: 600;
  padding-top: 0px;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.review-card-exit {
  opacity: 0;
  transform: translateY(-20px);
}

.review-card-enter {
  opacity: 0;
  transform: translateY(20px);
}

.review-card-enter-active,
.review-card-exit-active {
  opacity: 1;
  transform: translateY(0);
}

.author-title {
  font-size: 18px;
  font-weight: 500;
  font-style: "italic";
}

@media screen and (min-width: 768px) {
  .review-card {
    width: 70%;
    margin: auto;
  }
}
