.visitor-review-section {
  text-align: center;
  padding: 20px;
  background: var(--light-grayish-green);
}

.section-title {
  background: var(--light-grayish-green);
  color: var(--dark-grayish-cyan);
  font-size: var(--font-xxl);
  font-weight: 600;
}

.review-card {
  background: var(--light-grayish-green);
  color: var(--very-dark-desaturated-green);
  font-size: var(--font-xl);
  font-weight: 600;
  padding-top: 0px;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.review-card-exit {
  opacity: 0;
  transform: translateY(-20px);
}

.review-card-enter {
  opacity: 0;
  transform: translateY(20px);
}

.review-card-enter-active,
.review-card-exit-active {
  opacity: 1;
  transform: translateY(0);
}

.author-title {
  font-size: var(--font-m);
  font-weight: 500;
  font-style: italic;
}

@media screen and (min-width: 768px) {
  .review-card {
    width: 70%;
    margin: auto;
  }
}
