.gh-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px; /* Add some spacing between cards */
}

@media screen and (max-width: 768px) {
  /* Styles for tablets and smaller */
  .gh-info-container {
    flex-direction: column;
  }

  .gh-card-content > p {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  /* Styles for mobile */
  .gh-info-container {
    flex-direction: column;
  }

  .gh-card-content > p {
    font-size: 13px;
  }
}

.gh-card {
  flex: 1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px;
  padding-top: 0px;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.gh-card:hover {
  transform: scale(1.03);
}

.pogradec {
  background-image: url("../../assets/images/pogradec.png");
  background-size: cover;
  background-position: center;
}

.drilon {
  background-image: url("../../assets/images/drilon.png");
  background-size: cover;
  background-position: center;
}

.lake {
  background-image: url("../../assets/images/lake.png");
  background-size: cover;
  background-position: center;
}

.gh-card-content {
  text-align: center;
}

.gh-card-content > p {
  text-align: justify; 
  font-size: 15px; 
  font-weight: 500; 
  color: darkblue;
}

.gh-card-content > h3 {
  color: darkblue; 
  opacity: 0.5;
}
