body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}   

body::-webkit-scrollbar-thumb {
  background: #CCD5AE;
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #CCD5AE;
}




/* palete: 
#FAEDCD
#FEFAE0
#E9EDC9
#CCD5AE 
#94AF9F
#617143
*/